#contenedor{
    padding: 10px;
}

img{
    border-radius: 30px;
}

nav{
    background-color: darkslateblue;
}

#menu{
    margin: 10px;
    color: white;
    float: right;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#menu:hover{
    border-radius: 10px;
    background-color: white;
    color: black;
}